version: '3.8'

services:

  postgres:
    image: postgres:15
    container_name: stocks_postgres
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - PGDATA=${PGDATA}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@local"
      PGADMIN_DEFAULT_PASSWORD: "admin"
    ports:
      - "8081:80"
    depends_on:
      - postgres

  airflow-init:
    image: apache/airflow:2.9.2
    container_name: airflow_init
    entrypoint: /bin/bash
    command: -c "airflow db init && airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com"
    env_file:
      - .env
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      - _PIP_ADDITIONAL_REQUIREMENTS=requests psycopg2-binary
    user: "0:0"
    volumes:
      - ./airflow:/opt/airflow
    depends_on:
      - postgres

  airflow-webserver:
    image: apache/airflow:2.9.2
    container_name: airflow_webserver
    env_file:
      - .env
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      - _PIP_ADDITIONAL_REQUIREMENTS=requests psycopg2-binary
    ports:
      - "8080:8080"
    command: webserver
    volumes:
      - ./airflow:/opt/airflow
    depends_on:
      - airflow-init
      - postgres

  airflow-scheduler:
    image: apache/airflow:2.9.2
    container_name: airflow_scheduler
    env_file:
      - .env
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      - _PIP_ADDITIONAL_REQUIREMENTS=requests psycopg2-binary
    command: scheduler
    volumes:
      - ./airflow:/opt/airflow
    depends_on:
      - airflow-init
      - postgres

volumes:
  pgdata:
